.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

.git/**
node_modules/**
*.vsix

test.c
test.asm
test.dat
out/extension copy.js
out/test/**